contourpy==1.3.3
cycler==0.12.1
fonttools==4.66.0
kiwisolver==1.5.1
matplotlib==3.8.3
numpy==1.26.4
packaging==26.3
pandas==3.0.1
patsy==1.0.3
pillow==10.3.0
pymupdf==1.24.4
pymupdfb==1.24.3
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pyyaml==6.0.1
scipy==1.12.0
six==1.17.0
statsmodels==0.14.1
tzdata==2026.4
